
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    padding: 20px;
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
}

/* Estilos de la barra de navegación */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #666;
}

/* Estilos del contenido principal */
main {
    padding: 20px;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


/* public/css/styles.css */

.table-wrapper {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 8px;
    border: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #ddd;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ddd;
}

/* Archivo country_details.css */

.page-title {
    margin-bottom: 20px;
}

.details-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.table th {
    text-align: left;
    font-weight: bold;
}

.actions {
    margin-top: 20px;
}

.actions .btn {
    margin-right: 10px;
}
